<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @parking_spot.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @parking_spot.longitude %>
</p>

<%= link_to 'Edit', edit_parking_spot_path(@parking_spot) %> |
<%= link_to 'Back', parking_spots_path %>
