<%= form_for(@parking_restriction) do |f| %>
  <% if @parking_restriction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parking_restriction.errors.count, "error") %> prohibited this parking_restriction from being saved:</h2>

      <ul>
      <% @parking_restriction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parking_spot_id %><br>
    <%= f.number_field :parking_spot_id %>
  </div>
  <div class="field">
    <%= f.label :cost_per_hour %><br>
    <%= f.text_field :cost_per_hour %>
  </div>
  <div class="field">
    <%= f.label :beg_time_restriction %><br>
    <%= f.text_field :beg_time_restriction %>
  </div>
  <div class="field">
    <%= f.label :end_time_restriction %><br>
    <%= f.text_field :end_time_restriction %>
  </div>
  <div class="field">
    <%= f.label :time_limit %><br>
    <%= f.number_field :time_limit %>
  </div>
  <div class="field">
    <%= f.label :days_active %><br>
    <%= f.check_box :days_active %><br>
    <%= f.check_box :days_active %><br>
    <%= f.check_box :days_active %><br>
    <%= f.check_box :days_active %><br>
    <%= f.check_box :days_active %><br>
    <%= f.check_box :days_active %>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
