<h1>Listing parking_restrictions</h1>

<table>
  <thead>
    <tr>
      <th>Parking spot</th>
      <th>Cost per hour</th>
      <th>Beg time restriction</th>
      <th>End time restriction</th>
      <th>Time limit hour</th>
      <th>Time limit min</th>
      <th>Active monday</th>
      <th>Active tuesday</th>
      <th>Active wednesday</th>
      <th>Active thursday</th>
      <th>Active friday</th>
      <th>Active saturday</th>
      <th>Active sunday</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parking_restrictions.each do |parking_restriction| %>
      <tr>
        <td><%= parking_restriction.parking_spot_id %></td>
        <td><%= parking_restriction.cost_per_hour %></td>
        <td><%= parking_restriction.beg_time_restriction %></td>
        <td><%= parking_restriction.end_time_restriction %></td>
        <td><%= parking_restriction.time_limit %></td>
        <td><%= link_to 'Show', parking_restriction %></td>
        <td><%= link_to 'Edit', edit_parking_restriction_path(parking_restriction) %></td>
        <td><%= link_to 'Destroy', parking_restriction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking restriction', new_parking_restriction_path %>
