<p id="notice"><%= notice %></p>

<p>
  <strong>Parking spot:</strong>
  <%= @parking_restriction.parking_spot_id %>
</p>

<p>
  <strong>Cost per hour:</strong>
  <%= @parking_restriction.cost_per_hour %>
</p>

<p>
  <strong>Beg time restriction:</strong>
  <%= @parking_restriction.beg_time_restriction %>
</p>

<p>
  <strong>End time restriction:</strong>
  <%= @parking_restriction.end_time_restriction %>
</p>

<p>
  <strong>Time limit hour:</strong>
  <%= @parking_restriction.time_limit %>
</p>


<%@parking_restriction.days_active.each do |day| %>
<p>
  <strong>Day</strong>
  <%= day %>
</p>
<% end %>



<%= link_to 'Edit', edit_parking_restriction_path(@parking_restriction) %> |
<%= link_to 'Back', parking_restrictions_path %>
